<div class='panel panel-primary'>
  <!-- Filter the Products   -->
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-4'>Search by Player:
        <input type='text' [(ngModel)]='searchText' />
      </div>
      <div class='col-md-2'>
        <button class='btn btn-primary' (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
      </div>

    </div>
    <div class='table-responsive'>
      <table class='table' *ngIf='players && players.length'>
        <thead>
          <tr>
            <th>Ranking</th>
            <th>Player</th>
            <th>Team</th>
            <th>Votes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let player of players | search: searchText; let idx = index' appHighlight>
            <td>
              <i class="material-icons">star</i>{{ idx+1 }}
            </td>
            <td>
              <img *ngIf='showImage' [src]="'./assets/img/' + player.image" [title]='player.name | uppercase' [style.width.px]='imageWidth'
                [style.margin.px]='imageMargin'>
              <ng-container>{{ player.name }}</ng-container>
            </td>
            <td>
              <img *ngIf='showImage' [src]="'./assets/img/' + player.byTeams.image" [title]='player.byTeams.name | uppercase' [style.width.px]='imageWidth'
                [style.margin.px]='imageMargin'>
              <ng-container>{{ player.byTeams.name }}</ng-container>
            </td>
            <td>{{ player.votes }}</td>
            <td>
              <a md-raised-button routerLink=".">Raised button</a>
              <button [disabled]="loading" class="btn btn-primary">Submit</button>
              <button class='btn btn-primary' (click)='vote(player.id)'>vote</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
