<div class="signup center-block">
  <form name="form" (ngSubmit)="f.form.valid && signup()" #f="ngForm" novalidate>
    <md-input-container [ngClass]="{ 'has-error': f.submitted && !email.valid }">
      <input mdInput placeholder="Enter your email" name="email" [(ngModel)]="model.email" #email="ngModel" value="" required>
    </md-input-container>
    <button [disabled]="loading" class="btn btn-primary">Submit</button>
    <md-chip-list>
      <md-chip *ngIf="f.submitted && !email.valid" selected="true" color="warn">
        {{requiredError}}
      </md-chip>
      <md-chip *ngIf="error" selected="true" color="warn">
        {{error}}
      </md-chip>
    </md-chip-list>
    <md-spinner *ngIf="loading"></md-spinner>
  </form>
</div>
