<div class="signup center-block">
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="signup()" novalidate>
    <md-input-container class="example-full-width">
      <input mdInput [formControl]="emailFormControl" placeholder="Enter your email" name="email" id="email" required>
      <md-error *ngIf="emailFormControl.hasError('pattern')">
        Please enter a valid email address
      </md-error>
      <md-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </md-error>
      <md-error *ngIf="error">
        <strong>{{error}}</strong>
      </md-error>
    </md-input-container>
    <button [disabled]="loading||error||emailFormControl.hasError('pattern')||emailFormControl.hasError('required')" type="submit"
      class="btn btn-lg btn-primary">Sign up</button>
    <md-spinner *ngIf="loading"></md-spinner>
  </form>
</div>


