<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h2>PLAYER AWARDS</h2>
  </div>
  <div class="panel-body">
    <div class='table-responsive'>
      <table class='table table-striped table-hover'>
        <tbody>
          <tr appHighlight>
            <td>
              <i class="material-icons">star</i>
            </td>
            <td>
              3  NBA Finals Most Valuable Player
            </td>
          </tr>
          <tr appHighlight>
            <td>
              <i class="material-icons">star</i>
            </td>
            <td>
              4  NBA Most Valuable Player
            </td>
          </tr>
          <tr appHighlight>
            <td>
              <i class="material-icons">star</i>
            </td>
            <td>
              6  All-Defensive Team
            </td>
          </tr>
                    <tr appHighlight>
            <td>
              <i class="material-icons">star</i>
            </td>
            <td>
              4  NBA Most Valuable Player
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
